body{
    margin: 0;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
    margin-top: 8px;
}
div{
    background-color: red;
    width:400px;
    display: flex;
    height: 300px;
}
.img-1{
    position: relative;
    bottom: 15px;
}